.superInput {
    padding: 3px;
    margin-bottom: 3px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: SF UI Display, sans-serif;
    color: #2D2E46;
    width: 365px;
    border-bottom: 1px rgba(36, 37, 74, 0.5) solid;
    border-right: none;
    border-left: none;
    border-top: none;
    background-color: #F9F9FE;
    outline: none;
}

.errorInput {
    opacity: 0.8;
    background-color: #f88d8d;
}

.error {
    font-size: 18px;
    color: #f88d8d;
}