
.PacksParams{
    border: 1px solid red;
    width: 100%;
    display: flex;
}
.PacksContainer{
    border: 1px solid lime;
    width: 100%;
}
.Pack{
    width: 100%;
    display: flex;
}

.addingNewPackBlock {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.actionsWithPackBlock {
    min-width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 50px;
}

.actionsWithPackBlock a {
    font-size: 30px;
}

.nameColumn, .cardsCountColumn, .updatedColumn, .urlColumn, .cardsColumn {
    font-size: 30px;
}

.tableHeader {
    cursor: pointer;
}

.nameColumn {
    min-width: 20%
}
.cardsCountColumn {
    min-width: 10%
}
.updatedColumn {
    min-width: 20%
}
.urlColumn {
    min-width: 10%
}
.cardsColumn {
    min-width: 40%
}

.addPackModalInput {
    margin-bottom: 20px;
}

.updatePackNameModalButtonsBlock {
    display: flex;
    gap: 20px;
}