.profileContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
	box-sizing: border-box;
	max-width: 40%;
	border-radius: 10px;
	background-color: #F9F9FE;
	margin: 10px auto 0;
}

.profileContainer input {
	display: block;
}

.profileContainer .avatar {
	display: inline-block;
	width: 400px;
	height: 300px;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.profileContainer .avatarChangeIconWrapper{
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(50deg, #6cd0e7, #5ec7e7) no-repeat;
	height: 50px;
	width: 50px;
}

.profileContainer .avatarChangeIconWrapper:hover, .avatarChangeIcon {
	cursor: pointer;
}

.profileContainer .avatarChangeIcon {
	height: 30px;
	width: 30px;
	background-color: white;
}

.userNameWrapper {
	display: flex;
	align-items: center;
}

.userNameWrapper .name {
	margin-right: 20px;
}

.buttons {
	display: flex;
	gap: 20px;
}