.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 50px;
	background-color: #F9F9FE;
	border-radius: 10px;
	min-width: 40%;
	min-height: 70vh;
}



.radiosBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

.radiosBlock input {
	margin-right: 20px;
}

.questionBlock {}
.answerBlock {
	margin-bottom: 50px;
}

.hidden {
	display: none;
}