.CardsParams{
    border: 1px solid red;
    width: 100%;
    display: flex;
}
.CardsContainer{
    border: 1px solid lime;
    width: 100%;
}
.Card{
    width: 100%;
    display: flex;
}
.addNewCardBlock {

    padding: 20px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.addNewCardBlock input {
    margin: 0;
}

.actionsWithCard {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.addNewCardInput {
    position: relative;
    display: inline-block;
    font-size: 0;
}
.errorSpan {
    position: absolute;
    top: 110%;
    left: 15%;
}

.question, .answer, .grade, .updated, .url, .actionsWithCard {
    font-size: 30px;
}

.question {
    min-width: 20%
}
.answer {
    min-width: 20%
}
.grade {
    min-width: 10%
}
.updated {
    min-width: 20%
}
.url {
    min-width: 10%
}
.actionsWithCard {
    min-width: 20%
}

.tableHeader {
    cursor: pointer;
}